# Let's make our own custom module called Comparable.

### Our module will have the following methods:

```
def compare_num(# Params: num1 -> float, num2 -> float):
    # Compares two numbers and returns the larger number
    # If equal, returns True

def add_num(# Params: num1 -> float, num2 -> float):
    # Adds two numbers and returns value

def subtract_num(# Params: num1 -> float, num2 -> float):
    # Subtracts two numbers and returns value

def multiply_num(# Params: num1 -> float, num2 -> float):
    # Multiplies two nums and returns value

def divide_num(# Params: num1 -> float, num2 -> float):
    # Divides two nums and returns value

def modulo_num(# Params: num1 -> float, num2 -> float):
    # Modulos two nums and returns value

def get_average(# Params: *nums) -> float
    # Returns average of numbers
```

In [2]:
# use the import keyword to import our custom module
import comparable as comparable

num1 = 5
num2 = 62.7

In [46]:
# Let's use our add_num method to add our two numbers
comparable.add_num(num1=num1, num2=num2)

67.7

In [47]:
# Our subtract_num method
comparable.subtract_num(num1=num1, num2=num2)

-57.7

In [48]:
# Our multiply method
comparable.multiply_num(num1=num1, num2=num2)

313.5

In [49]:
# Our divide method
comparable.divide_num(num1=num1, num2=num2)

0.07974481658692184

In [50]:
# Our module method
comparable.modulo_num(num1=num1, num2=num2)

5.0

In [4]:
# Our average method
comparable.get_average(1, 2, 3, 4, 5, 6, 7, 8)

4.5

## Now let's import some libraries already installed with Python

#### Pandas, Names, Random, Numpy

In [28]:
# Let's install this module into our system, it will come handy soon
!pip install names

Requirement already satisfied: names in c:\users\daiyan\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (0.3.0)

In [7]:
# use the import keyword to import our pandas. 
# We'll also use a names library to create some random psuedo names and random library to import random numbers
# Let's also use numpy for easier manipulation of numbers and arrays
import pandas as pd
import names as names
import random
import numpy as np

In [12]:
# Let's make a quick dataframe using pandas
# But first, let's make a list of random names for 100 students

student_names = []
for i in range(100):
    student_names.append(names.get_first_name())

# Now let's make random grades for each student
# to do that we need to use the random library
first_quarter = []
for i in range(100):
    first_quarter.append(random.randint(45, 100))

second_quarter = []
for i in range(100):
    second_quarter.append(random.randint(45, 100))

third_quarter = []
for i in range(100):
    third_quarter.append(random.randint(45, 100))

fourth_quarter = []
for i in range(100):
    fourth_quarter.append(random.randint(45, 100))


# Let's make some Faculty members in our school
faculty_names = []
for i in range(5):
    faculty_names.append(names.get_full_name())

# Let's make the list larger with duplicates of the first 20 names
faculty_names = list(np.repeat(faculty_names, 20))

# We can use the shuffle method from the random library to shuffle our list and randomize it
random.shuffle(faculty_names)


# Let's create a dictionary of our school
school_information = {
    'Student Names': student_names,
    'First Semester': first_quarter,
    'Second Semester': second_quarter,
    'Third Semester': third_quarter,
    'Fourth Semester': fourth_quarter,
    'Faculty Name' : faculty_names
}

# Now let's make a Database using our dictionary
school = pd.DataFrame(data=school_information)
print(school)

   Student Names  First Semester  Second Semester  Third Semester  \
0        Shirley              60               93              67
1          Sally              85              100              90
2          James              83               64              89
3          Karen              83               89              70
4          Mabel              46               97              49
..           ...             ...              ...             ...
95      Kathleen              90              100              66
96         Olive              89               60              83
97           Ray              73               67              69
98       Kenneth              54               89              84
99           Ann              77               56              63

    Fourth Semester       Faculty Name
0                93       Jodi Gratton
1                92    Daniel Pitpitan
2               100     Carrie Donohue
3                92  Abigail Ellsworth
4                58       Jodi Gratton
..              ...                ...
95               83       Jodi Gratton
96               93       David Dannis
97               69  Abigail Ellsworth
98               66     Carrie Donohue
99               95  Abigail Ellsworth

[100 rows x 6 columns]

### Now, let's use our custom made Comparable library and create a new column that takes the average of all the grades for a student in a year

In [11]:
# We must use our get_average method
# To create a new column, we simply call the dataframe and type in the new column name in brackets
school['Average'] = comparable.get_average(school['First Semester'], school['Second Semester'], school['Third Semester'], school['Fourth Semester'])
print(school)

   Student Names  First Semester  Second Semester  Third Semester  \
0        Anthony              79               92              52
1          Pedro              68               77              85
2        Cynthia              52               52              72
3         Sherry              74               89              60
4         Gloria              70               71              97
..           ...             ...              ...             ...
95         Bryan              95               53              91
96      Jennifer              59               78              64
97       Richard              74               50              89
98         Alice              81               45              78
99       Valerie             100               47              92

    Fourth Semester     Faculty Name  Average
0                73   Cecelia Wiener    74.00
1                57     Troy Harrell    71.75
2                57    Brent Johnson    58.25
3                85       John Craig    77.00
4                81  Joseph Brothers    79.75
..              ...              ...      ...
95               68     Doris Arnold    76.75
96               55  Joseph Brothers    64.00
97               67     Larry Tucker    70.00
98               56       John Craig    65.00
99               72     Troy Harrell    77.75

[100 rows x 7 columns]